body {
	background: rgb(204,234, 231);
}
	#skills{
		color: white;
	}
	#hobbies{
		color: white;
	}
	#interest{
		color: white;
	}
	#contents{
		color: white;
	}
	#marikris{
		
	}
	#family{
		color: white;
		
		
		
		 <link href="/normalize.css" rel="stylesheet">
		 header {
      text-align: center;
      background: url('https://lh3.google.com/u/0/d/0B2QDUvVhUdZiYm1uTm40c3VGd0U=w1916-h962-iv1');
      background-size: cover;
      color: white;
    }
		
    a {
      color: white;
    }
		
    h1 {
      font-size: 70px;
    }
		
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
		
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
		
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
		
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
		
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
	    
      li {
        padding: 5px;
        display: block;
      }
    }
		
		<script>
    $("button").on("click", function() {
      alert("Clicked!");
    });
  </script>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
