body {
	background: rgb(204,234, 231);
}
	#skills{
		color: white;
	}
	#hobbies{
		color: white;
	}
	#interest{
		color: white;
	}
	#contents{
		color: white;
	}
	#marikris{
		
	}
	#family{
		color: white;
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
