body {
	background: rgb(129,206,169);
}
	#skills{
		color: white;
	}
	#hobbies{
		color: white;
	}
	#interest{
		color: white;
	}
	#contents{
		color: white;
	}
	#marikris{
		
	}
	#family{
		color: white;
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	